#about{
    padding: 10% 0;

}
#about h1{
    font-family: "Jost", sans-serif;
    font-weight: 800;
    color: #016a66;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 40px;
    padding-bottom: 20px;

}
.about-content{
    background: #fafafa;
    /* padding: 10px; */
    margin: 10px;
    color: #016a66;
}
.about-content-text{
    padding: 5px 10px 120px;
}
.about-link-div{
    padding: 20px;
    float: right;
}
.about-bg-img{
    background: url('/src/images/about.JPG') no-repeat;
    background-size: cover;
    height: 100%;
}
@media screen and (max-width:767px){
    #faq h1{
        text-align: center;
    }
}