/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navApp-style{
  background-color: #ffa82b;
  background-color: #ffa82b;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.nav-link-clr{
  color: #efefef !important;
}
.logo-text{
  font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
}
.nav-link-btn, .nav-link-btn:focus{
  background: transparent;
  border: 2px solid #efefef;
  color: #efefef;
  border-radius: 0 0 10px 0;
  outline: 0;
  
}
.upper-footer{
  background-color: #fcbb5d;
  padding: 20px;
}
.footer-logo{
  font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
}
.footer-list-ul,.company-info-list{
  list-style: none;
}
.footer-list-text-clr, .footer-list-link-clr, .footer-social-icons-clr{
  color:#3f7d62;
}
.lower-footer{
  padding: 20px;
  background-color: #000;
  color: #efefef;
}
.home-components-padding{
  padding: 10% 0;
}